* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
img{ /* voor alle afbeeldingen */
    max-width: 100%;
    top: -100px;
}
body {
    background: #000;
}
body::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    background: url("images/hero-img.jpg");
    background-position: center;
}




body a.logo{
    display: block;
}

body .logo svg{
    fill: #e50914;
    height: 27px;
}
@media screen and (min-width:550px) {
    body .logo svg{
        height: 37px;
    }


a.logo {
    position: relative;
    top: -100px;
}


div.splash{
    position:relative;
    z-index: -1;
}
div.splash div.gradient{
    background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);
    position:absolute;
    inset:0;
}
div.splash div.background{
    position:absolute;
    z-index:1;
    inset right:0;
}
div.splash div.background img{
    height:100%;
    opacity: 0.6;
    object-fit: cover;
}


nav {  /* voor Netflix logo */
    position: fixed;
    padding: 25px 60px;
    z-index: 1;
}

nav a img {
    width: 167px;
}








.container {
    position: absolute; /* Use absolute positioning */
    width: 320px;
    height: 580px;
    background: #fff;
    padding: 25px 30px;
    border-radius: 20px;
    z-index: 2; /* Higher than the background */
    cursor: pointer;

}



#container-1 {
    top: 200px; /* Adjust this value to move the container */
    left: 250px; /* Adjust this value for horizontal positioning */


}




#container-2 {
    top: 200px; /* Adjust this value to move the container */
    left: 580px;

}


#container-3 {
    top: 200px; /* Adjust this value to move the container */
    left: 910px; /* Adjust this value for horizontal positioning */

}



.container input {
    display: none; /* Hide the radio button */
}

.container label {
    display: block;
    width: 100%; /* Make the label take the full width of the container */
    height: 100%; /* Make the label take the full height of the container */
    border-radius: 20px; /* Rounded corners */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
    position: absolute; /* Use absolute positioning */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
}


.container input:checked + label {
    border: 5px solid #E50914; /* Highlight selected container */
}















.small-containers {
    position: absolute;
    width: 270px;
    height: 75px;
    background: linear-gradient(90deg, #E50914, #221F20);
    padding: 25px;
    border-radius: 20px;
    z-index: 3; /* Higher than the background */

}



h4 {
    font-size: 20px; /* Adjust the font size as needed */
    color: #fff; /* Change text color */
    text-align: center; /* Center align the text */
    margin-top: 5px; /* Add some margin */
}

h5 {
    font-size: 20px; /* Adjust the font size as needed */
    color: #fff; /* Change text color */
    text-align: center; /* Center align the text */
    margin-top: 5px; /* Add some margin */
}

h6 {
    font-size: 20px; /* Adjust the font size as needed */
    color: #fff; /* Change text color */
    text-align: center; /* Center align the text */
    margin-top: 5px; /* Add some margin */
}









.separator {
    height: 0.8px; /* Thickness of the line */
    background-color: rgba(0, 0, 0, 0.3); /* Black with 80% opacity */
    width: 100%; /* Full width */
    z-index: 5;
}


.separator.separator1 {

    margin-top: 150px;
}



.separator.separator2 {

    margin-top: 50px;
}


.separator.separator3 {

    margin-top: 50px;
}


.separator.separator4 {

    margin-top: 50px;

}


.separator.separator5 {

    margin-top: 50px;

}


.separator.separator6 {

    margin-top: 50px;

}




h11, h22, h33, h44, h55, h66 {
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif; /* Change font family */
    color: grey; /* Change text color */
    font-size: 0.85rem; /* Change font size */
    font-weight: bold;
}


h111, h112, h113, h114, h115,h116,h117,h118,h119,h120,h121,h122,h123,h124,h125,h126,h127,h128 {
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif; /* Change font family */
    color: #343434; /* Change text color */
    font-size: 0.85rem; /* Change font size */
    font-weight: bold;


    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


h11 {

    position: relative;

    top: 100px;

}


h111, h117, h123 {

    position: relative;

    top: 130px;

    left: -94px;

}


h112, h118, h124 {

    position: relative;

    top: 30px;

    left: -159px;


}


h113, h119,h125 {

    position: relative;

    top: 30px;

    left: -71px;


}




h114, h120, h126 {

    position: relative;

    top: 20px;



}



h115, h121, h127 {

    position: relative;

    top: 30px;

    left: -93px;

}

h116, h122, h128 {

    position: relative;

    top: 30px;

    left: -119px;

}








h1000 {
    position: relative;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif; /* Change font family */
    color: white; /* Change text color */
    font-size: 2.2rem; /* Change font size */
    font-weight: bold;
    z-index: 10;

    top: 120px;
    left: 255px;

}











.button {
    background: #e50914; /* Button background color */
    padding: 10px 20px;        /* Padding around the text */
    border-radius: 5px;        /* Rounded corners */
    text-decoration: none;     /* Remove underline */
    font-size: 16px;           /* Adjust font size */
    display: flex;
    cursor: pointer;           /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth hover transition */
    text-align: center;        /* Center align the text */


    align-items: center;
    justify-content: center;


    height: 60px;
    width: 550px;

    position: relative;
    top: 760px;
    left: 465px;


    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif; /* Change font family */
    color: white; /* Change text color */
    font-size: 1.5rem; /* Change font size */
    font-weight: bold;






}

